<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>We, at Rise Together, provides Product to poor people across the country.</li>
		<li>Our main aim is to support and uplift the lives of needy people by connecting them with generous donors who can provide essential items, services, or support—be it food, clothing, education, or other necessities.</li>
	</ul>
</div>