<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h4>Our mission is to ensure that no one in need is left unheard — whether it's food, clothing, education, or care — we aim to provide support and dignity to every soul seeking help.</h4>
</div>